html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(246,238,227);
  font-family: "Libre Baskerville", Helvetica, Verdana, Tahoma, sans-serif;
}

p {
  line-height: 1.6;
}

.nav {
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
}

.nav a {
  color: white;
  font-size: 1.05em;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0px 10px;
  outline: 0;
  padding: 0px 10px;
  text-decoration: none;
}

.nav a:hover {
  color: #c7c7c7;
}

.container {
  width: 95%;
  margin: 0px auto;
}

.profile {
  background-color: #253d63;
  min-height: 60vh;
  padding: 40px 0px;
}

.profile .container {
  display: flex;
  flex-direction: row;
}

.profile_image_section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 30%;
}

.profile_text_section {
  color: #e8e8e8;
  padding-left: 80px;
  width: 70%;
}

.profile_text_section h1 {
  font-family: "Cascadia Code";
  font-style: solid;
}
.profile_image {
  max-height: 100%;
  max-width: 100%;
}

.profile_social_section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.profile_social_section img {
  height: 50px;
  margin: 10px;
  width: 50px;
}

.profile h1 {
  font-size: 5rem;
}

.profile p {
  font-family: Georgia;
  font-size: 30px;
}

.project_section {
  margin-top: 50px;
}

.project_section .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project_card {
  background-color: white;
  border-radius: 5px;
  border: 3px black solid;
  box-shadow: 20px 20px #2b2b2b;
  margin: 20px 0px;
  min-height: 250px;
  padding: 15px;
  width: 45%;
}

.project_card img {
  float: left;
  height: 200px;
  margin-right: 20px;
  object-fit: cover;
  width: 200px; 
}

.project_card a {
  display: block;
  margin-bottom: .5rem;
}
.project_card h3 {
  margin-bottom: .5rem;
}

